.input {
	padding: 0.5rem;
	width: 100%;
	background-color: #424c4d;
	box-sizing: border-box;
	border-radius: 0.25rem;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	border: none;
	font-size: 1rem;
	color: #fff;
	transition: border 0.2s ease, box-shadow 0.2s ease;
	margin-bottom: 0.75rem;
}

.input:focus {
	outline: none;
	border-color: #000000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modalButtonWrapper {
	display: flex;
	justify-content: center;
}
